.containerCourse {
  /* width: 100vw; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryGreen);
  /* background-color: rgb(255, 255, 255); */
  font-family: var(--fontFamily);
  /* position: relative; */
  padding-top: 5em;
  padding: 2em;
  /* transition: 3s; */
}

.containerCourse > main {
  /* background-color: aqua; */
  width: 100%;
  /* max-width: 1200px; */
  display: flex;
  flex-wrap:wrap;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* flex-direction: column;  */

}
/* .adminContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
} */


