.containerCourse {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundWhite);
  font-family: var(--fontFamily);
  padding: 1em;
}

.containerCourse > main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  border-radius: 0.5em;
  backdrop-filter: blur(2em);
  background-color: #fffefe;
  transition: .3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.374);
}

@media (max-width: 769px) {
  .containerCourse>main {
      margin-top: 5em;
    }
}