.profileContainer {
  width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  font-family: var(--fontFamily);
  background-color: var(--backgroundWhite);
}

.profileBox {
  width: 100%;
  height: 100%;
  padding: 1em ;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
  transition: .3s;
  background-color: var(--mainWhite);
  box-shadow: var(--boxShadow);
}

.topSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.profilePicture {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: .3s;
  margin: .5em;
}

.profilePicture > img {
  width: 9em;
  height: 9em;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0em 0em 1em 0em;
  object-fit:cover;
  box-shadow: var(--boxShadow);
  transition: .3s;
}

.editPhoto {
  cursor: pointer;
  padding: 0.5em;
  border: 1px solid var(--mainGreen);
  color: var(--mainGreen);
  border-radius: 0.5em;
  transition: .3s;
  /* box-shadow: var(--boxShadow); */
}

.profilePicture > ul {
  
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em ;
  background-color: #fff;
  list-style-type: none;
  position: absolute;
  right: -4em;
  bottom: -3.8em;
  border-radius: 0.2em;
  padding: .1em .1em;
}

.profilePicture > ul::before {
  content: "";
  display: block;
  position: absolute;
  border-left: .5em solid transparent;
  border-bottom: .5em solid #fff;
  border-top: .5em solid transparent;
  border-right: .5em solid transparent;
  top: -1em;
  left: 1em;
}

.profilePicture > ul > li {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: .1em 0em;
  overflow: hidden;
  background-color: #c8c8c8;
}

.profilePicture > ul > li > button {
  width: 100%;
  height: 1.5em;
  font-size: .9em;
  border: none;
  cursor: pointer;
  list-style-type: none;
  font-weight: 400;
  background-color: #c8c8c803;
}

.labelUpload {
  padding: .3em 1.28em;
  border-radius: 0.2em;
  font-size: .9em;
  cursor: pointer;
  list-style-type: none;
  font-weight: 400;
}

.profilePicture > ul > li:hover {
  background-color: rgb(164, 164, 164);
}

.uploadInput {
  display: none;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: .5em;
  margin-top: 2em;
  font-size: 1em;
  color: var(--textWhite);
}

.infoContainer > input {
  padding: 0.2em .5em;
  margin: 0.2em 0em .5em 0em;
  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  outline-color: #2E81F7;
  transition: .3s;
  background-color: var(--hoverWhite);
}

.infoContainer > p {
  font-size: 1em;
}

.infoContainer > button {
  min-width: 11em;
  max-width: 15em;
  padding: 0.5em;
  margin: 0.2em 0em 0em 0em;
  font-size: 1.3em;
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #238636;
  margin-top: 1em;
  transition: .3s;
}

.infoContainer > button:hover {
  background-color: #26a641;
}

.bottomSide {
  padding: 2em;
}

@media (min-width: 769px) {
  .profileBox {
    margin-top: 0em;
    padding: 1em;
  }
    .topSide {
      flex-direction: row;
      padding: 1.5em;
    }

  .profileContainer {
    padding: 1em;
  }
  
}

@media (min-width: 992px) {
  

  .infoContainer {
    margin-left: 6em;

  }

  .infoContainer>input {
    width: 13em;
    padding: 0.4em .8em;
    margin: 0.2em 0em .8em 0em;
    font-size: 1.4em;
  }

  .infoContainer>p {
    font-size: 1.2em;
  }

  .profilePicture>img {
    width: 12em;
    height: 12em;
    margin: 0em 0em 1em 0em;
  }

  .editPhoto {
    font-size: 1em;
    font-weight: 600;
  }

}

@media (min-width: 1200px) {
  .infoContainer {
    margin-left: 8em;
  }

  .infoContainer>input {
    width: 18em;
    
  }

  .infoContainer>button {
    max-width: 20em;
  }




}