.createLessonCard {
  width: 100%;
  min-height: 88svh;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  padding: 1em;
  border-radius: 1.5em;
  background-color: var(--mainWhite);
  font-family: var(--body-fonts);
  transition: .3s;
  box-shadow: var(--boxShadow);
}

.backButton {
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: .4em;
  font-size: 2.6em;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--mainGreen);
  background-color: transparent;
  border-radius: 0.1em;
  transition: .15s;
}

.backButton:hover {
  scale: 1.15;
}

.createLessonCard > h1 {
  color:  var(--mainGreen);
  margin-bottom: 1em;
}

.courseListe {
  display: flex;
  max-width: 20em;
  flex-direction: column;
  justify-content: center;
  margin-bottom: .6em;
  border: 1px solid gray;
  height: 2.4em;
  margin: 0.2em 0em .5em 0em;
  font-size: 1em;
  border-radius: 0.2em;
}

.searchBar {
  width: 100%;
  max-width: 20em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: .2em;
  position: relative;
  padding-left: .2em;
  font-size: 1.4em;
}

.searchBar>input {
  padding: .4em;
  border: none;
  font-size: .8em;
  position: relative;
  top: 0;
  z-index: 2;
  background-color: transparent;
}

.searchBar>p {
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 1;
  padding: .2em;
}

.coursesOptions {
  position: relative;
}

.coursesOptions>ul {
  display: flex;
  position: absolute;
  top: .6em;
  flex-direction: column;
  width: 100%;
  max-width: 20em;
  max-height: 5em;
  border: 1px solid gray;
  border-radius: .2em;
  overflow: hidden;
  background-color: white;
  overflow-y: scroll;
}

.coursesOptions>ul>li>button {
  font-size: .8em;
  width: 100%;
  height: 100%;
  padding: .4em;
  padding-left: .8em;
  text-align: left;
  list-style-type: none;
  background-color: transparent;
  border: none;
}

.coursesOptions>ul>li>button:hover {
  background-color: #DDEBFF;
}

.searchBar>input {
  outline: none;
  width: 100%;
  border: none;
}

.createLessonCard > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.createLessonCard > form > input {
  padding: 0.6em .5em;
  margin: 0.2em 0em .5em 0em;
  font-size: 1em;
  border-radius: 0.2em;
  border: none;
  outline-color: #2E81F7;
  transition: .3s;
  border: 1px solid var(--mainGreen);
  background-color: rgb(241, 237, 237);
  width: 100%;
  max-width: 20em;
}

.createLessonCard>form> h2 {
  font-size: 1.2em;
  margin-top: .8em;
}

.videoField {
  padding: 0.6em .5em;
  margin: 0.2em 0em .5em 0em;
  font-size: 1em;
  border-radius: 0.2em;
  border: none;
  outline-color: #2E81F7;
  transition: .3s;
  border: 1px solid var(--mainGreen);
  background-color: rgb(241, 237, 237);
  width: 100%;
  max-width: 20em;
}

.videoField > input {
  display: none;
}

.descriptionField {
  padding: 0.6em .5em;
  margin: 0.2em 0em .5em 0em;
  font-size: 1.4em;
  border-radius: 0.2em;
  border: none;
  outline-color: #2E81F7;
  transition: .3s;
  border: 1px solid var(--mainGreen);
  background-color: rgb(241, 237, 237);
  height: 9em;
  resize: none;
  width: 100%;
  max-width: 28em;
}

.buttonRegister {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #238636;
  margin-top: 1em;
  transition: .3s;
  width: 100%;
  max-width: 16.6em;
}

@media (min-width: 769px) {
  .createLessonCard {
    min-height: calc(100vh - 2em);
    margin-top: 0em;
    padding: 2em;
  }

    .createLessonCard>form>input, .videoField, .courseListe {
    font-size: 1.2em;
  }


  .createLessonCard>form>h2 {
    font-size: 1.4em;
  }

  .buttonRegister {
    max-width: 20em;
  } 
}