.main {
  height: 100%;
}
.cardCountainer {
  width: 100%;
  min-width: 15em;
  max-width: 26em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  padding-bottom: 1em;
  border-radius: 0.2em;
  background-color: var(--backgroundWhite);
  position: relative;
  font-family: var(--body-fonts);
  border: 1px solid black;
  min-height: 100%;
}

.topSide {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.topSide > p {
  font-size: 1.4em;
  font-weight: 400;
}

.watchedCheck {
  font-size: 2em;
  min-width: 1em;
  color: green;
  border-radius: 3em;
  border: none;
  margin-right: .5em;
}

.bottomSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.bottomSide > p {
  text-align: left;
  
}

.watchLessonButton {
  padding: .4em 1em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: .2em;
  color: #FFF;
  background-color: var(--mainGreen);
}

.watchLessonButton:hover {
  scale: 1.1;
  background-color: var(--secondaryGreen);
}

.bottomBar {
  position: absolute;
  width: 100%;
  height: 0.5em;
  bottom: 0;
  left: 0;
}

@media (min-width: 769px) {
  .bottomSide {
    height: 4.5em;
  }
}