.navbar {
  width: 100%;
  min-height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: var(--mainWhite);
  z-index: 3;
  position: fixed;
}

.toggleMenu {
  height: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  border: none;
  cursor: pointer;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  position: fixed;
}

.toggleMenuOpen {
  width: 2.3em;
  height: 0.3em;
  margin: 0.15em 0;
  background-color: var(--mainGreen);
  transition: .3s;
}

#top {
  transition: .3s;
  background-color: var(--mainWhite);
  transform: rotate(45deg);
}

#mid {
  display: none;
  background-color: var(--mainGreen);
}

#bot {
  transition: .3s;
  position: absolute;
  background-color: var(--mainWhite);
  transform: rotate(-45deg);
}

.menuContainer {
  width: 100svw;
  width: 100%;
  height: 100svh;
  max-height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slide .4s ease;
  transition: .3s;
  backdrop-filter: blur(.4em);
  background-color: var(--backgroundOpacity);
  z-index: 1;
}

@keyframes slide {
  from {
    margin-left: -20em;
  }

  to {
    margin-right: 0;
  }
}

.menuContainerHiden {
  /* width: 0vw; */
  width: 11.5em;
  height: 100svh;
  max-height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -30em;
  overflow: hidden;
  animation: slide 0.3s ease;
  transition: .7s;
  z-index: 1;
}

.menu {
  width: 14.5rem;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  border-radius: 0 .6em .6em 0;
  background-color: var(--mainWhite);
}

.title1 {
  display: flex;
  justify-content: left;
  padding: 1em;
  color: #054F33;
  font-family: var(--title-fonts);
  font-weight: 700;
}

.title2 {
  display: flex;
  justify-content: left;
  padding: 1em;
  color: #054F33;
  font-family: var(--title-fonts);
  font-weight: 700;
}
.menuOptions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}

.menuOptions>ul {
  width: 100%;
}

.menuOptions>ul>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .4em 0.6em;
  padding: .2em 0em;
  text-decoration: none;
  border-radius: 0.2em;
}

.menuOptions>ul>li:hover {
  transition: 0.3s;
  color: var(--mainWhite);
  background-color: var(--hoverWhite);
}

.menuOptions>ul>li>a {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1em 0.5em;
  text-align: left;
  text-decoration: none;
  border-radius: 0.5em;
  font-weight: 600;
  color: var(--textColor);
  font-family: var(--body-fonts);
}

.icon {
  width: 1.8em;
  height: 1.8em;
  padding-right: 0.5em;
  color: var(--textWhite);
}

.logout {
  display: flex;
  align-items: center;
  margin: 4em 0.6em;
  padding: 0.2em 0.3em;
  font-weight: 600;
  background: none;
  border-radius: 0.2em;
  text-decoration: none;
  font-family: var(--body-fonts);
  color: var(--textColor);
  
}

.logout:hover {
  background-color: var(--hoverWhite);
  transition: 0.3s;
}

/** Tablet  and Desktop version */
@media (min-width: 769px) {

  .navbar>h2,
  .toggleMenu,
  .toggleMenuOpen {
    display: none;
    
  }

  .box {
    /* max-width: 1920px; */
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background-color: purple; */
    /* margin: auto; */
  }

  .title2 {
    display: flex;
    justify-content: left;
    padding: 1em;
    color: #054F33;
    font-family: var(--title-fonts);
    font-weight: 700;
  }
  .title1 {
    display: none;
  }

  .navbar {
    min-width: 14.5rem;
    max-width: 14.5rem;
    min-height: 100svh;
    display: flex;
    position: none;
    position: relative;
    z-index: none;
    transition: .3s;
    color: var(--mainwhite);
    background-color: var(--backgroundWhite);
  }

  .menuContainer {
    width: 14.5rem;
    height: 100svh;
    display: block;
    animation: none;
    transition: none;
    background-color: var(--backgroundWhite);
  }

  .menuContainerHiden {
    width: 14.5rem;
    min-height: 100svh;
    display: block;
    position: fixed;
    animation: none;
    margin-left: 0em;
    transition: .3s ease;
  }

  .menu {
    width: 14.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    border-radius: 0 .6em .6em 0;
    background-color: var(--mainWhite);
  }
}