@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;500;600;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: var(--secondaryWhite);
  border-bottom: 2px solid var(--primaryGreen);
}

header>p {
  margin-left: 5vw;
  font-size: 1.2rem;
  font-family: var(--fontfamily2);
  color: var(--primaryGreen);
  font-weight: bold;
  cursor: pointer;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5vw;
}

.menuBurger>span {
  display: none;
  width: 30px;
  height: 4px;
  margin: 5px 0;
  background-color: var(--primaryGreen);
  transition: .5s;
}

.menuBurger {
  position: relative;
  cursor: pointer;
  transition: .5s;
}

.rightSide .ulContainer {
  display: inline;
}

.rightSide .ulContainer #hidden {
  display: none;
  transition: .5s;
}

.ulContainer>li {
  display: inline;
  margin-left: 40px;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--primaryGreen);
  font-family: var(--fontFamily);
  position: relative;
  cursor: pointer;
}

.ulContainer>li::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--primaryGreen);
  width: 0%;
  height: 3px;
  margin: -5px 0px;
}

.ulContainer>li:hover::before {
  content: "";
  width: 100%;
  height: 3px;
  animation: scale .3s ease-in-out;
}

@keyframes scale {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@media screen and (max-width: 733px) {
  .menuBurger>span {
    display: block;
    top: 7;
    right: 0;
  }

  .rightSide .ulContainer {
    display: none;
  }

  .rightSide #hidden {
    display: block;
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: var(--secondaryWhite);
    width: 300px;
    height: 70vh;
    animation: slide .5s;
    border-left: 2px solid var(--primaryGreen);
    border-bottom: 2px solid var(--primaryGreen);
  }

  @keyframes slide {
    0% {
      right: -290px;
      position: fixed;
    }

    100% {
      right: 0px;
      position: fixed;
    }
  }

  .ulContainer>li {
    display: inline-block;
    margin: 30px 110px;
    font-family: var(--fontFamily);
    font-size: 1.5rem;
    color: var(--primaryGreen);
  }

  .rightSide #close1 {
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    transition: .5s;
  }

  .rightSide #close2 {
    background-color: transparent;
    transition: .1s;
  }

  .rightSide #close3 {
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
    transition: .5s;
  }
}

@media screen and (max-width: 800px) {
  .ulContainer>li {
    margin-left: 20px;
  }

}

li {
  /* background-color: red; */
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(0, 2, 1);
}