.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: var(--fontFamily);
  background-color: var(--secondaryWhite);
  padding: 0 1em;
  min-height: 4em;
  z-index: 1;
}

.toggleMenu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.019);
  border: none;
  cursor: pointer;
  height: 1.8em;
  position: fixed;
  right: 0;
  margin: 2em;
}

.toggleMenuOpen {
  width: 2.3em;
  height: 0.3em;
  background-color: var(--primaryGreen);
  margin: 0.15em 0;
  transition: .3s;
}

#top {
  transition: .3s;
  background-color: var(--secondaryWhite);
  transform: rotate(45deg);
}
#mid {
  display: none;
}

#bot {
  transition: .3s;
  background-color: var(--secondaryWhite);
  position: absolute;
  transform: rotate(-45deg);
}

.menuContainer {
  display: block;
  position: fixed;
  width: 100svw;
  width: 100%;
  height: 100svh;
  max-height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slide .4s ease;
  transition: .3s;
  background-color: var(--backgroundOpacity);
  backdrop-filter: blur(.4em);
  z-index: 1;
}

@keyframes slide {
  from {
    margin-left: -20em;
  }
  to {
    margin-right: 0;
  }
}

.menuContainerHiden {
  display: block;
  position: fixed;
  width: 0vw;
  width: 11.5em;
  height: 100svh;
  max-height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slide 0.3s ease;
  margin-left: -30em;
  transition: .7s;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryGreen);
  width: 14.5rem;
  font-size: 1.2em;
  min-height: 100vh;
  height: 100%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.userInfo > img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  margin: 1em;
  border: 0.1em solid var(--secondaryWhite);
}

.userInfo > p {
  margin-bottom: 1em;
  color: var(--secondaryWhite);
}

.menuOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menuOptions > ul {
  width: 100%;
}

.menuOptions > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.1em 0.1em;
  text-decoration: none;
  border-radius: 0.5em;
}

.menuOptions > ul > li:hover {
  background-color: var(--backgroundOpacity);
  transition: 0.3s;
}

.menuOptions > ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--secondaryWhite);
  width: 100%;
  padding: 0.1em 0.5em ;
  text-decoration: none;
  border-radius: 0.5em;
  text-align: left;
  font-family: var(--fontFamily1);
  font-weight: 600;
}

.icon  {
  color: aliceblue;
  width: 2em;
  height: 2em;
  padding-right: 0.5em;
}

.logout {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.5em;
  margin: 4em 0.1em;
  padding: 0.1em 0.5em;
  text-decoration: none;
  border-radius: 0.5em;
  font-family: var(--fontFamily1);
  font-weight: 600;
  background: none;
  color: var(--secondaryWhite);
}

.logout:hover {
  background-color: var(--backgroundOpacity);
  transition: 0.3s;
}

/** Desktop version */
@media (min-width: 769px) {
  .navbar > h2,
  .toggleMenu,
  .toggleMenuOpen {
    display: none;
  }
  .box {
    max-width: 1920px;
    min-height: 100svh;
    background-color: var(--primaryGreen);
    display: flex;
    flex-direction: row;
    }
  
  .navbar {
    display: flex;
    min-width: 14.5rem;
    max-width: 14.5rem;
    color: var(--primaryGreen);
    min-height: 100svh;
    position: none;
    z-index: none;
    transition: .3s;
  }

  .menuContainer {
    display: block;
    width: 14.5rem;
    height: 100svh;
    animation: none;
    transition: none;
  }

  .menuContainerHiden {
    display: block;
    position: fixed;
    width: 14.5rem;
    min-height: 100svh;
    animation: none;
    margin-left: 0em;
    transition: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryGreen);
    width: 14.5rem;
    font-size: 1.2em;
    height: 100%;
    border-radius: 0 .2em .2em 0;
  }

}
