.cardCountainer {
  display: flex;
  flex-direction: row;
  min-width: 15em;
  max-width: 26em;
  margin: 2em 1em;
  border-radius: 0.5em;
  overflow: hidden;
  font-family: var(--fontFamily);
  background-color: rgba(0, 0, 0, 0.523);
  transition: .3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.382);
}
.cardCountainer:hover {
  scale: 1.06;
}

.leftSide {
  display: flex;
  justify-content: center;
  width: 7em;
  padding: 0.5em;
  font-family: var(--title-fonts);
}

.initials {
  font-size: 2em;
  font-weight: bolder;

}

.rightSide {
  padding: 1em 1em;
  width: 100%;
  color: aliceblue;
  font-family: var(--body-fonts);
}

.buttonAllLessons {
  text-align: right;
}

.buttonAllLessons > button {
  border: none;
  border-radius: 0.4em;
  padding: 0.5em;
  margin-top: 1.5em;
  background-image: (--gradient);
  font-size: 1em;
  font-weight:600;
  cursor: pointer;
}

@media (min-width: 769px) {
  .cardCountainer {
      width: 26em;
    }
}