@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;500;600;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* box-shadow: 0 0 0 3px red; */

}
body {
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
}


:root {
  --primaryGreen: #064E3B;
  --secondaryWhite: #ffffff;
  --gradient: linear-gradient(to right top, #064e3b, #0f5744, #17614d, #1f6a56, #26745f);
  --backgroundOpacity: rgba(0, 0, 0, 0.554);
  --fontFamily: 'Open Sans', sans-serif;
  --fontfamily2: 'Playfair Display', serif;
}