.updateContainer {
  width: 100%;
  min-height: 88svh;
  height: 100%;
  margin-top: 5em;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
  transition: .3s;
  background-color: var(--mainWhite);
  box-shadow: var(--boxShadow);
  font-family: var(--body-fonts);
}

.backButton {
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: .4em;
  font-size: 2.6em;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--mainGreen);
  background-color: transparent;
  border-radius: 0.1em;
  transition: .15s;
}

.backButton:hover {
  scale: 1.15;
}

.updateContainer > h1 {
  padding-bottom: 1em;
  color: var(--mainGreen);
  font-size: 1.5em;
}

.courseListe {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  justify-content: center;
  margin-bottom: .6em;
}

.searchBar {
  width: 100%;
  max-width: 20em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid gray;
  border-radius: .2em;
  position: relative;
}

.searchBar > input {
  padding: .4em;
  border: none;
  font-size: .8em;
  position: relative;
  top: 0;
  z-index: 2;
  background-color: transparent;
}

.searchBar > p{
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 1;
  padding: .2em;
}

.coursesOptions {
  position: relative;
}

.coursesOptions > ul {
  display: flex;
  position: absolute;
  top: .2em;
  flex-direction: column;
  width: 100%;
  max-width: 20em;
  max-height: 5em;
  border: 1px solid gray;
  border-radius: .2em;
  overflow: hidden;
  background-color: white;
  overflow-y: scroll;
}

.coursesOptions > ul > li> button {
  font-size: .8em;
  width: 100%;
  height: 100%;
  padding: .4em;
  padding-left: .8em;
  text-align: left;
  list-style-type: none;
  background-color: transparent;
  border: none;
}

.coursesOptions > ul > li> button:hover{
  background-color: #DDEBFF;
}

.searchBar > input {
  outline: none;
  width: 100%;
  border: none;
}

.updateBox {
  display: flex;
  flex-direction: column;
  padding: 0.8em 0em;
  border-radius: 0.3em;
}

.updateBox > label {
  width: 100%;
  max-width: 20em;
  font-size: 1.2em;
  font-weight:bolder;
}

.updateBox > input {
  padding: 0.6em .5em;
  margin: 0.2em 0em 1.4em 0em;
  font-size: 1em;
  border-radius: 0.2em;
  border: none;
  outline-color: #2E81F7;
  transition: .3s;
  border: 1px solid var(--mainGreen);
  background-color: rgb(241, 237, 237);
  width: 100%;
  max-width: 20em;
  font-family: var(--body-fonts);
}

.submiButton {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #238636;
  margin-top: 1em;
  transition: .3s;
  width: 100%;
  max-width: 16.6em;
}

.submiButton:hover {
  background-color: #26a641;
}

.deleteButton {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #c62a22;
  margin-top: 1em;
  transition: .3s;
  width: 100%;
  max-width: 16.6em;
}

.deleteButton:hover {
  background-color: #e03128;
}

.descriptionField {
  padding: 0.6em .5em;
  margin: 0.2em 0em .5em 0em;
  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  outline-color: #2E81F7;
  transition: .3s;
  border: 1px solid var(--mainGreen);
  background-color: rgb(241, 237, 237);
  height: 9em;
  resize: none;
  width: 100%;
  max-width: 28em;
  font-family: var(--body-fonts);
}

@media (min-width: 769px) {
  .updateContainer {
    min-height: calc(100vh - 2em);
    margin-top: 0em;
  }

  .updateContainer>h1 {
    font-size: 2em;
  }
  .updateBox>input {
    font-size: 1.2em;
  }

  .searchBar>input {
    font-size: 1em;
  }

  .updateBox>label {
    font-size: 1.4em;
  }

  .submiButton,
  .deleteButton {
    max-width: 20em;
  }
}