.containerCreatecourse {
  width: 100vw;
  max-width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
  background-color: var(--backgroundWhite);
  font-family: var(--body-fonts);
  color: var(--secondaryWhite);
}

.adminContainer {
  width: 100%;
  height: 100%;
  min-height: 88svh;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 5em;
  padding: 1em;
  background-color: var(--mainWhite);
  border-radius: 1.5em;
  box-shadow: var(--boxShadow);
}

.adminContainer > aside {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.adminContainer > h1 {
  padding: .2em .4em;
  color: var(--mainGreen);
  font-size: 2em;
  font-family: var(--body-fonts);
}

.create,
.createLesson,
.update {
  width: 12em;
  height: 9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 1em;
  padding: 1em 1em;
  font-family: var(--body-fonts);
  font-size: 1.4em;
  font-weight: 600;
  color: var(--mainGreen);
  border-radius: 0.4em;
  transition: 0.5s;
  text-decoration: none;
  box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.285);
}

.create {
  background: hsla(33, 100%, 53%, 1);
  background: linear-gradient(45deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1);
}

.update {
  background: hsla(152, 100%, 50%, 1);
  background: linear-gradient(45deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1);
}

.createLesson {
  background: hsla(217, 100%, 50%, 1);
  background: linear-gradient(45deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1);
}
.create:hover,
.createLesson:hover,
.update:hover {
  scale: 1.06;
}

.icon {
  width: 2em;
  height: 2em;
  margin-bottom: 1em;
}

@media (min-width: 769px) {
  .adminContainer {
    margin-top: 0em;
    min-height: calc(100svh - 2em);
  }
}

@media (min-width: 992px) {
  .adminContainer>h1 {
    padding: .2em .4em;
    font-size: 2.5em;
  }
}