.lessonContainer {
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryGreen);
  font-family: var(--fontFamily);
}

.playerContainer {
  background-color: black;
  width: 90dvw;
  height: 45dvh;
}

.boxLesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90dvw;
}

.boxLesson > h1 {
  text-align: center;
  margin: 1em;
  color: var(--secondaryWhite);
}

.boxLesson > p {
  margin-top: 1em;
  font-size: 1.4em;
  text-align: justify;
  color: var(--secondaryWhite);
}